.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
  }

  .serv {
      text-align: center;
  }

  .descript {
      text-align: center;
      font-style: italic;
  }

  .boxes {
      display: flex;
  }

  img {
      width: 120px;
  }

  h1 {
      font-size: 38px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
  }

  p {
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
  }

  .descript {
      color: gray;
      font-size: 17px;
  }

  .boxes {
      margin-top: 30px;
  }

  h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
  }

  .light {
      color: gray;
  }